@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700');

body {
	font-family: Inconsolata, monospace;
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	}

.container {
	margin: 0 auto;
	max-width:960px;
	width: 100%
}

.intro-section {
	margin-left: 10px;
}

h1 {
	display: inline-block;
	content:"";
	font-size: calc(22px + 2.5vw);
	font-weight: 600;
	height: 13px;
	margin-top: 10px;
}
h2 {
	font-size: calc(16px + 2.5vw);
	font-weight: 100;
}
p {
	font-family: Inconsolata, monospace;
	font-size: 16px;
	font-weight: 200;
}
p.intro-text {
	font-size: calc(16px + 0.6vw);
	line-height: 28px;
	font-weight: 200;
}
.container {
	height:1000px;
	/*padding: 0 10px 0 10px;*/
}
.categ {
	opacity:1.0;
}
.button {
	opacity:0.7;
}
.buttonText {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 1.4em;
	font-weight: 700;
/*	text-anchor: middle;
	transform-origin: 0% bottom;
	-ms-transform: rotate(-45deg); 
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
*/
}
.link {
	opacity: 0.7;
	stroke-width: 3px;
	fill: none;
}
.panel{
	margin: 0 0 50px 0;
	opacity:0.7;
	padding-left:15px;
	padding-right:10px;
	padding-top:15px;

}
.infoHeading {
	color: #ffffff;
	font-size: 36px;
	font-weight: 200;
}
.infoSubhead {
	color: #ffffff;
	font-size: 28px;
	font-weight: 200;
	margin-top: 12px;
}
.infoText {
	color: #ffffff;
	font-size: 22px;
	line-height: 28px;
	font-weight: 200;
	margin-top: 5px;
}
.charts {
}
.chart {
	margin-top: 5px;
	vertical-align: top;
	display:inline-block;
	stroke: #ffffff;
	color: #ffffff;
	font-size: 21px;
	font-weight: 200;
	margin-right: 15px;
}
.chartDesc{
	font-size: 16px;
	line-height: 19px;
	font-weight: 200;
	margin-top: 8px;

}



